<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockManagemengBasic.Properties.Settings.tmppasinduConnectionString"
            connectionString="Data Source=10.44.107.12;Initial Catalog=tmppasindu;User ID=sa;Password=ES@teamwork"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>